<div class="container" *ngIf="pet != undefined">
  <form>
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="pet.name" name="name">
    </div>
    <div class="mb-3">
      <label class="form-label" for="breed">Breed</label>
      <input type="text" class="form-control" id="breed"
             required
             [(ngModel)]="pet.breed" name="breed">
    </div>
    <div class="mb-3">
      <label class="form-label" for="image">Image</label>
      <input type="file" class="form-control-file" id="image" (change)="handleUpload($event)">
      <img *ngIf="pet.image" src="{{pet.image}}" class="img-fluid">
    </div>
    <div class="mb-3">
      <label class="form-label" for="kind">Kind</label>
      <select class="form-select" id="kind" [(ngModel)]="pet.kind" required>
        <option [selected]="kind.enumValue === pet.kind" *ngFor="let kind of kinds" [value]="kind.enumValue">{{kind.niceName}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>
